.btn {
  font-weight: 700;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.btn-gray {
  background-color: #a0aec0;
  color: #fff;
}

.btn-gray:hover {
  background-color: #718096;
}

.btn-gray:disabled {
  color: #cbd5e0;
}