.btn {
  font-weight: 700;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 0.25rem;
}

.btn-blue {
  background-color: #4299e1;
  color: #fff;
}

.btn-blue:hover {
  background-color: #2b6cb0;
}