<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Fragment>
    <ComponentGroup Id="MainComponents" Directory="INSTALLFOLDER">
      <ComponentGroupRef Id="Published" />
      <ComponentGroupRef Id="ServiceUser" />
      <ComponentRef Id="ServiceComponent" />
    </ComponentGroup>
  </Fragment>
</Wix>
