<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
     xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui">
    <Package Name="EtwEvents.PushAgent" Manufacturer="KD Soft"  Version="1.0.1.0" UpgradeCode="92ba2f4a-5b30-438c-9ae2-158382011ca9">
        <MajorUpgrade DowngradeErrorMessage="!(loc.DowngradeError)" />

        <Feature Id="Main" Title="ETW Agent Service">
            <ComponentGroupRef Id="MainComponents" />
            <!-- This does not work
            <ComponentGroupRef Id="Certificates" />-->
            <ComponentRef Id="INSTALLFOLDER_Permission"/>
        </Feature>

        <ui:WixUI Id="WixUI_FeatureTree" InstallDirectory="INSTALLFOLDER"/>
        <UIRef Id="WixUI_Custom"/>

        <WixVariable Id="WixUILicenseRtf" Value="MIT_License.rtf" />

        <Binary Id="MyCustomActions" SourceFile="$(var.EtwEvents.PushAgent.Setup.Tools.TargetDir)$(var.EtwEvents.PushAgent.Setup.Tools.TargetName).CA.dll" />
        <CustomAction Id="OpenFileDialog" BinaryRef="MyCustomActions" DllEntry="OpenFileDialog" Execute="immediate" Return="check" />
        <CustomAction Id="ValidateClientCertificate" BinaryRef="MyCustomActions" DllEntry="ValidateClientCertificate" Execute="immediate" Return="check" />
        <CustomAction Id="InstallClientCertificate" BinaryRef="MyCustomActions" DllEntry="InstallClientCertificate" Execute="immediate" Return="check" />
        <CustomAction Id="ValidateRootCertificates" BinaryRef="MyCustomActions" DllEntry="ValidateRootCertificates" Execute="immediate" Return="check" />
        <CustomAction Id="InstallRootCertificates" BinaryRef="MyCustomActions" DllEntry="InstallRootCertificates" Execute="immediate" Return="check" />
        
        <!-- https://stackoverflow.com/questions/65358312/wix-custom-action-modify-file-in-installfolder-after-installfinalize -->

        <InstallExecuteSequence>
            <Custom Action="InstallClientCertificate" Before="InstallFinalize" />
            <Custom Action="InstallRootCertificates" Before="InstallFinalize" />
        </InstallExecuteSequence>
    </Package>
</Wix>
