<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Fragment>
      <Component Id="ServiceComponent" Guid="{F0446A09-ABAF-4C90-AF96-46A62246745D}" Directory="INSTALLFOLDER">
          <File Source="../EtwEvents.PushAgent/deploy/publish/KdSoft.EtwEvents.PushAgent.exe" KeyPath="true"/>
          <ServiceInstall  Name="EtwEvents.PushAgent2" DisplayName="ETW Events Agent" Type="ownProcess"
                          Start="demand" ErrorControl="normal" Account="LocalSystem" Description="Forwards ETW Events to Event Sink">
          </ServiceInstall>
          <ServiceControl Name="EtwEvents.PushAgent2" Remove="uninstall" />
      </Component>
  </Fragment>
</Wix>
